extends ../modules/layout/layout.jade

block title
  title Главная

block content
  aside.m_sidebar
    include ../modules/categories/categories
  main
    h1 Все проститутки Москвы
    -
      var girls = [
        {
          image: 'http://placekitten.com/257/373', name: 'Елизаветочка',
          age: '26', growth: '173', weight: '53', breast: '3',
          tel: '+7 890 453 45 45', subway: 'Спортивная',
          hour: '3 000', hours: '5 000', night: '10 000'
        },
        {
          image: 'http://placekitten.com/250/373', name: 'Александра',
          age: '26', growth: '173', weight: '53', breast: '3',
          tel: '+7 890 453 45 45', subway: 'Спортивная',
          hour: '3 000', hours: '5 000', night: '10 000'
        },
        {
          image: 'http://placekitten.com/251/370', name: 'Лена',
          age: '26', growth: '173', weight: '53', breast: '3',
          tel: '+7 890 453 45 45', subway: 'Спортивная',
          hour: '3 000', hours: '5 000', night: '10 000'
        },
        {
          image: 'http://placekitten.com/254/373', name: 'Светик',
          age: '26', growth: '173', weight: '53', breast: '3',
          tel: '+7 890 453 45 45', subway: 'Спортивная',
          hour: '3 000', hours: '5 000', night: '10 000'
        },
        {
          image: 'http://placekitten.com/282/380', name: 'Лиза',
          age: '26', growth: '173', weight: '53', breast: '3',
          tel: '+7 890 453 45 45', subway: 'Спортивная',
          hour: '3 000', hours: '5 000', night: '10 000'
        },
        {
          image: 'http://placekitten.com/270/363', name: 'Лика',
          age: '26', growth: '173', weight: '53', breast: '3',
          tel: '+7 890 453 45 45', subway: 'Спортивная',
          hour: '3 000', hours: '5 000', night: '10 000'
        },
        {
          image: 'http://placekitten.com/600/474', name: 'Селена',
          age: '26', growth: '173', weight: '53', breast: '3',
          tel: '+7 890 453 45 45', subway: 'Спортивная',
          hour: '3 000', hours: '5 000', night: '10 000'
        },{
          image: 'http://placekitten.com/700/822', name: 'Маринка',
          age: '26', growth: '173', weight: '53', breast: '3',
          tel: '+7 890 453 45 45', subway: 'Спортивная',
          hour: '3 000', hours: '5 000', night: '10 000'
        }

      ]
    .m_girls
      -each post in girls
        .item
          .image
            a(href="#" style="background-image: url('#{post.image}')").url-image.block
          .info
            .name #{post.name}
            .parameters
              span <b>#{post.age}</b> лет
              span <b>#{post.growth}</b> см
              span <b>#{post.weight}</b> кг
              span <b>#{post.breast}</b>
            .verified
            .tel: a(href="#") #{post.tel}
            .subway: a(href="#") #{post.subway}
            .prices
              table
                tr
                  th(colspan="2") Тариф:
                tr
                  td 1 час
                  td <span>#{post.hour}</span> руб
                tr
                  td 2 часа
                  td <span>#{post.hours}</span> руб
                tr
                  td Ночь
                  td <span>#{post.night}</span> руб
            .comments
              .label Отзывы: <a href="#">4</a>
            .details: a(href="#") Подробнее
    include ../modules/paginations/m_paginations
  section.full-section
    h2 Индивидуалки Санкт-Петербурга
    p Профессиональные секс услуги мужчине сможет предоставить далеко не каждая девушка. В таком случае самым оптимальным вариантом можно посчитать Московских индивидуалок, для которых не существует никаких ограничений и сложностей на момент удовлетворения клиента. Они находят индивидуальный подход к любому мужчине, могут принести максимальное наслаждение и удовольствие от процесса. Достаточно просто подобрать себе вариант красотки, способной удовлетворить не только физиологические потребности, но еще и эстетические. Ведь во время половой близости очень важна внешность барышни.
    p Девочки готовы оказать мужчине полноценное наслаждение и удовлетворение, они компетентны во всех сексуальных позах и услугах. Достаточно просто посетить их анкеты, представленные на сайте dosug197.net. Исходя из них, вы сможете определить уровень привлекательности барышни, стоимость услуги, а также небольшие ограничения, если таковы присутствуют. Среди основных услуг, приносящих мужчинам максимальное наслаждение, стоит выделить:
    p Все услуги, оказывающиеся барышнями, смогут заставить клиента почувствовать необычные ощущения, положительные эмоции, а также непередаваемое наслаждение, готовое отнести клиента на седьмое небо от счастья. Не нужно сомневаться в способностях и профессиональном уровне девочек, ведь они максимально настроены на то, чтобы доставить своему заказчику только самые приятные и положительные ощущения
